name: CI
on:
  workflow_dispatch: null
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: Setup-Python
        uses: actions/setup-python@v5
      - name: Extract version
        run: |
          APP_VERSION=$(node -p "require('./package.json').version")
          echo "The version is $APP_VERSION
    name: Build90