name: Deploy existing artifact to Nexus

on:
  workflow_dispatch:
    inputs:
      # GitHub download info
      source_repo:
        description: "GitHub repo to download from (owner/repo)"
        required: true
        default: "turbo5000c/tomcat-root-war"
      run_id:
        description: "the Run ID in the build"
        required: true
        default: "20242170031"
      target_dir:
        description: "Path to pom.xml in this repo"
        required: true
        default: "target"      
      download_dir:
        description: "Directory to download artifact into"
        required: true
        default: "artifacts"

      # Nexus
      nexus_repo_url:
        description: "Nexus repository URL (e.g. https://nexus.local.xyz/repository/releases)"
        required: true
        default: "https://nexus.local.updawg.xyz/repository/maven-releases/"
      nexus_repo_id:
        description: "Maven server id (matches settings.xml)"
        required: true
        default: "nexus"

jobs:
  deploy:
    runs-on: tomcat
    
    permissions:
      contents: read

    steps:
      - name: Checkout (for pom.xml)
        uses: actions/checkout@v4

      - name: Set up JDK 17 + Maven settings for Nexus
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: temurin
          server-id: ${{ inputs.nexus_repo_id }}
          settings-path: ${{ github.workspace }}


      - name: Download artifact from GitHub release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -euo pipefail

          mkdir -p "${{ inputs.download_dir }}"
          
          gh run download ${{ inputs.run_id }} \
          --repo "turbo5000c/tomcat-root-war" \
          --name "artifacts" \
          --dir "${{ inputs.download_dir }}"
          
          echo "Downloaded files:"
          ls -l "${{ inputs.download_dir }}"

      - name: Verify files
        run: |
          set -euo pipefail

          ARTIFACT_PATH="${{ inputs.download_dir }}/${{ inputs.target_dir }}"
          POM_PATH="${{ inputs.download_dir }}/${{ inputs.pom_path }}"

          echo "Artifact path: $ARTIFACT_PATH"
          ls -l $ARTIFACT_PATH
          
          echo "POM path:      $POM_PATH"
          ls -l $POM_PATH

          if [[ ! -f "$ARTIFACT_PATH" ]]; then
            echo "ERROR: Artifact not found"
            exit 1
          fi
          
          ls -l $POM_PATH
          if [[ ! -f "$POM_PATH" ]]; then
            echo "ERROR: pom.xml not found"
            exit 1
          fi

      - name: Deploy artifact to Nexus
        run: |
          set -euo pipefail
          
          ARTIFACT_PATH="${{ inputs.download_dir }}/${{ inputs.target_dir }}"
          POM_PATH="${{ inputs.download_dir }}/${{ inputs.pom_path }}"

          mvn -B deploy:deploy-file \
            --settings ~/.m2/nexus-settings.xml \
            -Durl="${{ inputs.nexus_repo_url }}" \
            -DrepositoryId="${{ inputs.nexus_repo_id }}" \
            -Dfile="$ARTIFACT_PATH" \
            -DpomFile="$POM_PATH"
